nav {
    display: flex;
}

li {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.active {
    border-bottom: 4px solid red;
    color: black;
}

.about {
    margin-top: 40px;
}

.about .container {
    background-color: #f5f5f5;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.12);
}